@page "/Advisor/{advisorId}"
@model IndexModel
@{
    var advisorId = ViewContext.RouteData.Values["advisorId"];
}

<div class="row">
    <div class="col">
        <div class="card bg-primary">
            <h5 class="card-header text-white">Upcoming Appointments</h5>
            @foreach (var a in Model.UpcomingAppointments)
            {
                <div class="row bg-card m-0">
                    <div class="col-4 p-1 col-middle">
                        <img class="rounded-circle img-fluid img-thumbnail" src="@a.Student.ImagePath" />
                    </div>
                    <div class="col-8 p-1">
                        <div class="mt-0">@a.DateTime</div>
                        <div class="">@a.Student.LastName, @a.Student.FirstName</div>
                        <div class="text-muted">@a.Agenda</div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col">
        <div class="card text-white bg-primary">
            <h5 class="card-header">Recent Appointments</h5>
            @foreach (var a in Model.RecentAppointments)
            {
                <div class="row bg-card m-0">
                    <div class="col-4 p-1 col-middle">
                        <img class="rounded-circle img-fluid img-thumbnail" src="@a.Student.ImagePath" />
                    </div>
                    <div class="col-8 p-1">
                        <div class="mt-0">@a.DateTime</div>
                        <div class="">@a.Student.LastName, @a.Student.FirstName</div>
                        <div class="text-muted">@a.Agenda</div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col">
        <div class="card text-white bg-primary">
            <h5 class="card-header">Student Alerts</h5>
            <div id="studentAlertsContainer"></div>
        </div>
    </div>
</div>

<script id="studentAlertTmpl" type="text/x-jsrender">
    <a href="/Advisor/@advisorId/Student/{{:student.id}}">
        <div class="row bg-card m-0">
            <div class="col-4 p-1 col-middle">
                <img class="rounded-circle img-fluid img-thumbnail" src="{{:student.imagePath}}" />
            </div>
            <div class="col-8 p-1">
                <div class="mt-0">{{:student.lastName}}, {{:student.firstName}}</div>
                <div class="">{{:student.degreeName}}</div>
                <div class="text-muted">{{:student.level}}</div>
            </div>
            <div class="alert alert-danger">
                {{for claims}}
                    {{include tmpl="#studentAlertMsg" + #data + "Tmpl" /}}
                {{/for}}
            </div>
        </div>
    </a>
</script>

<script id="studentAlertMsgHSRCAssistanceTmpl" type="text/x-jsrender">
    <p>The student might qualify for additional financial assistance. Have the student contact HSRC for further assistance.</p>
</script>

@section Scripts {
    <script>
    gAdvisorId = '@ViewContext.RouteData.Values["advisorId"]';

    $.cachedAjax("/api/ajax/GetAdvisorStudentAlerts/" + gAdvisorId)
        .done(function (data) {
            var tmpl = $.templates("#studentAlertTmpl");
            $("#studentAlertsContainer").html($(tmpl.render(data)));
        })
        .fail(function (xhr, status, error) {
            alert("Request Failed: " + status + ", " + error);
        });
    </script>
}
